// Цвета сайта
$aqua_color: #2fd6d0;
$dark_aqua_color: #1f928e;
$light_aqua_color: #8af0e6;
$white_color: #fff;
$black_color: #000;
$dark_grey_color : #585C67;
$grey_color: #8F95A6;
$light_grey_color: #f0eeee;
$light_blue_color: #E3F2FD;
$light_cyan_color: #adf5ff;
$light_pink_color: #FCE4EC;
$light_purple_color: #F3E5F5;
$red_color: #EF5350;
$dark_red_color: #B71C1C;
$light_amber_color: #FFECB3;
$light_green_color: #66BB6A;

// Размеры экранов
$tablet_width: 1279px;
$mobile_width: 767px;