@import '../../../../assets/resourses/scss/variables.scss';

.introduce {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
  background: url("../../../../assets/resourses/images/jpg/introduce.jpg") no-repeat;
  background-position: 50% 50%;
  background-attachment: fixed;
  background-size: cover;
  max-height: calc(100vh - 40px);
  min-height: calc(100vh - 40px);
  padding-bottom: 10vh;
  color: $white_color;
  z-index: 999;

  p {
    font-size: 135%;
  }
}

/* АДАПТАЦИЯ К ШИРИНЕ ЭКРАНА МЕНЕЕ 1280 PX */
@media(max-width: $tablet_width) {
  .introduce {
    max-height: calc(100vh - 40px);
    min-height: calc(100vh - 40px);
  }
}

/* АДАПТАЦИЯ К ШИРИНЕ ЭКРАНА МЕНЕЕ 768 PX */
@media(max-width: $mobile_width) {

}
