@import '../../../assets/resourses/scss/variables.scss';

.button-up {
  display: flex;
  width: fit-content;
  justify-content: center;
  align-items: center;
  width:50px;
  height: 50px;
  border-radius: 25px;
  visibility: hidden;
  opacity: 0;
  transition: visibility 1s, opacity 1s;
  background: $aqua_color;
  z-index: 998;
  cursor: pointer;

  &.show {
    visibility: visible;
    opacity: 1;
  }

  &:hover {
    background: $dark_aqua_color;
  }
}